# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data (adjust depending on what you want to share)
data/raw/
data/intermediate/
data/proccesed/

# Results (optional)
results/

# Python files
scripts/python/iedb_old_new_analysis.py
scripts/python/6_IEDB_pathogen_mismatch.py
scripts/python/8_Epitope_clustering.py